In [78]:
import pandas as pd
import numpy as np

In [79]:
df = pd.read_csv(r"C:/Users/culm-erbach/Desktop/project/Caro/mysample_CLEAN.csv")

In [81]:
df['ID_token'].value_counts().mean()

1.0654733365297533

In [84]:
df['ID_token'].nunique()

18771

In [85]:
#Create new column for Year and Month
df["YearMo"] = [ i[:7] for i in df["Datetime_updated"]]

In [87]:
#Spalten in Datetime Format
df['Datetime_updated'] = pd.to_datetime(df['Datetime_updated'])
df['Datetime_updated_seconds'] = pd.to_datetime(df['Datetime_updated_seconds'])

In [88]:
# Nach Datum sortieren, nach ID gruppieren und jeweils das Datum des ersten verkaufs in neuer Spalte

In [89]:
df = df.sort_values(by=['Datetime_updated_seconds'],ignore_index=True)
df['fist_buy'] = df.groupby(['ID_token'])['Datetime_updated_seconds'].transform('first')

In [90]:
# to-do: dummy; if Datetime_updated_seconds == fist_buy dann 1, sonst 0

In [91]:
df['fist_buy_dummy'] = np.where((df['fist_buy'] == df['Datetime_updated_seconds'])
                     , 1, 0)

In [92]:
df.loc[df['ID_token'] == 1043670].head()

,Unnamed: 0,ID_token,Price_USD,Name,Description,Collection,Collection_cleaned,Datetime_updated_seconds,Seller_address,Buyer_address,...,Crypto,Datetime_updated,Category,Market,Smart_contract,Image_url_1,Unique_id_collection,YearMo,fist_buy,fist_buy_dummy
6765,7950,1043670,16.360650,Hime Sulkyki,"Ohayou. I'm Hime Sulkyki. No cat puns, please....",Cryptokitties,Cryptokittie,2019-02-15 22:27:44,0x6a47b60c377450a460d3eb828d534ee66eead668,0x1c1ef71445010114f41ac1feb32dbf5d7281e90f,...,ETH,2019-02-15,Art,OpenSea,0x06012c8cf97bead5deae237070f9587f8e7a266d,https://storage.opensea.io/0x06012c8cf97bead5d...,"('Cryptokitties', '1043670')",2019-02,2019-02-15 22:27:44,1
6960,3555,1043670,19.903050,Hime Sulkyki,"Ohayou. I'm Hime Sulkyki. No cat puns, please....",Cryptokitties,Cryptokittie,2019-02-22 08:47:04,0xa37e6b46fa8e1a6f1ddbf035c4e0230b8414ff04,0x87b77fabfeb869150b8e1b9462603f9a639c5fae,...,ETH,2019-02-22,Art,OpenSea,0x06012c8cf97bead5deae237070f9587f8e7a266d,https://storage.opensea.io/0x06012c8cf97bead5d...,"('Cryptokitties', '1043670')",2019-02,2019-02-15 22:27:44,0
7070,10659,1043670,18.413325,Hime Sulkyki,"Ohayou. I'm Hime Sulkyki. No cat puns, please....",Cryptokitties,Cryptokittie,2019-02-26 11:47:02,0x838c14eb3eabe4cb6a696d286c7b2a466629d0ee,0xa37e6b46fa8e1a6f1ddbf035c4e0230b8414ff04,...,ETH,2019-02-26,Art,OpenSea,0x06012c8cf97bead5deae237070f9587f8e7a266d,https://storage.opensea.io/0x06012c8cf97bead5d...,"('Cryptokitties', '1043670')",2019-02,2019-02-15 22:27:44,0
7342,11998,1043670,18.195975,Hime Sulkyki,"Ohayou. I'm Hime Sulkyki. No cat puns, please....",Cryptokitties,Cryptokittie,2019-03-08 09:16:55,0x00c9da65b33b4f7034b5f50b90f5f6d8320d6ab8,0xbabda06088c242fb2a763aa7cc99706cb77ba735,...,ETH,2019-03-08,Art,OpenSea,0x06012c8cf97bead5deae237070f9587f8e7a266d,https://storage.opensea.io/0x06012c8cf97bead5d...,"('Cryptokitties', '1043670')",2019-03,2019-02-15 22:27:44,0
7350,18578,1043670,18.195975,Hime Sulkyki,"Ohayou. I'm Hime Sulkyki. No cat puns, please....",Cryptokitties,Cryptokittie,2019-03-08 13:12:06,0xbabda06088c242fb2a763aa7cc99706cb77ba735,0x8acc1421ec98689461ff5777de8ad6648dc6d643,...,ETH,2019-03-08,Art,OpenSea,0x06012c8cf97bead5deae237070f9587f8e7a266d,https://storage.opensea.io/0x06012c8cf97bead5d...,"('Cryptokitties', '1043670')",2019-03,2019-02-15 22:27:44,0

In [93]:
# 3.: New column time_elapsed, Zweit zwischen Weiterverkaufs eines NFTs
# df sortiert nach ID und Datetime; differenz zum vorherigen

In [94]:
df = df.sort_values(by=['ID_token','Datetime_updated_seconds'],ignore_index=True)

In [95]:
df['time_elapsed'] = df.groupby('ID_token')['Datetime_updated_seconds'].apply(lambda x: x.dt.date - x.min().date())

In [96]:
df.loc[df['ID_token'] == 1.000000e+00].head()

Empty DataFrame
Columns: [Unnamed: 0, ID_token, Price_USD, Name, Description, Collection, Collection_cleaned, Datetime_updated_seconds, Seller_address, Buyer_address, Price_Crypto, Crypto, Datetime_updated, Category, Market, Smart_contract, Image_url_1, Unique_id_collection, YearMo, fist_buy, fist_buy_dummy, time_elapsed]
Index: []

[0 rows x 22 columns]

In [97]:
#4.: New Column with count of NFT of each Buyer/seller
# Buyer_adress: groubby and count unique ID token

In [98]:
df['buyer_count'] = (
    df.groupby(["Buyer_address"])['ID_token'].transform('nunique'))

In [99]:
# Seller_address: groubby and count unique ID token
df['seller_count'] = (
    df.groupby(["Seller_address"])['ID_token'].transform('nunique'))

In [100]:
df['buyer_count'].value_counts()

1     6395
2     1808
3      954
4      548
5      427
      ...
55      55
53      53
48      48
45      45
43      43
Name: buyer_count, Length: 68, dtype: int64

### Mit count probieren

In [101]:
#df['sold_nr'] = df['ID_token'].groupby(df['ID_token']).transform('sum')

In [102]:
df['time_elapsed'] = df['time_elapsed'].astype('timedelta64[D]')

In [103]:
df.dtypes

Unnamed: 0                           int64
ID_token                             int64
Price_USD                          float64
Name                                object
Description                         object
Collection                          object
Collection_cleaned                  object
Datetime_updated_seconds    datetime64[ns]
Seller_address                      object
Buyer_address                       object
Price_Crypto                       float64
Crypto                              object
Datetime_updated            datetime64[ns]
Category                            object
Market                              object
Smart_contract                      object
Image_url_1                         object
Unique_id_collection                object
YearMo                              object
fist_buy                    datetime64[ns]
fist_buy_dummy                       int32
time_elapsed                       float64
buyer_count                          int64
seller_count                         int64
dtype: object

In [104]:
df['sold_counts'] = df.groupby(['ID_token'])['Price_USD'].transform('count')

In [105]:
df.head()

,Unnamed: 0,ID_token,Price_USD,Name,Description,Collection,Collection_cleaned,Datetime_updated_seconds,Seller_address,Buyer_address,...,Smart_contract,Image_url_1,Unique_id_collection,YearMo,fist_buy,fist_buy_dummy,time_elapsed,buyer_count,seller_count,sold_counts
0,4371,100003,16.86940,NFTBoxes - Used March 2021 Ticket,A used March 2021 NFTBoxes ticket,Nftboxes,Nft,2021-03-23 02:07:53,0x65a831d9fb2cc87a7956eb8e4720956f6bfc6eea,0x40ac5a8ed8581080ada5decb70e8ea40327e96d5,...,0x5237e33d805339925aa5ab220f13b386357aa349,https://lh3.googleusercontent.com/-nw87QX4KB0s...,"('Nftboxes', '100003')",2021-03,2021-03-23 02:07:53,1,0.0,1,1,4
1,11114,100003,15.85335,NFTBoxes - Used March 2021 Ticket,A used March 2021 NFTBoxes ticket,Nftboxes,Nft,2021-03-25 17:48:27,0x46b1beee557c369394db6e081aa1f6e02dd4cb77,0xa202e5ff950ee4ef4b70799838473c0664e175cd,...,0x5237e33d805339925aa5ab220f13b386357aa349,https://lh3.googleusercontent.com/-nw87QX4KB0s...,"('Nftboxes', '100003')",2021-03,2021-03-23 02:07:53,0,2.0,1,1,4
2,7368,100003,55.79295,NFTBoxes - Used March 2021 Ticket,A used March 2021 NFTBoxes ticket,Nftboxes,Nft,2021-03-31 01:27:14,0x0a2d58e423ba3beadcef9b14b684f52e23aba71e,0x730d651cfff957e0e12517434579e1738e2526db,...,0x5237e33d805339925aa5ab220f13b386357aa349,https://lh3.googleusercontent.com/-nw87QX4KB0s...,"('Nftboxes', '100003')",2021-03,2021-03-23 02:07:53,0,8.0,1,1,4
3,14639,100003,22.68980,NFTBoxes - Used March 2021 Ticket,A used March 2021 NFTBoxes ticket,Nftboxes,Nft,2021-04-23 20:34:34,0xa90a1452ea66fa8912f5473ec46aaebe65e7306f,0x8be77f3dcc29e6a3efdbebba80d81257312525c4,...,0x5237e33d805339925aa5ab220f13b386357aa349,https://lh3.googleusercontent.com/-nw87QX4KB0s...,"('Nftboxes', '100003')",2021-04,2021-03-23 02:07:53,0,31.0,1,1,4
4,14785,100216,49.65480,"LAND (52, 41)",A LAND is a digital piece of real estate in Th...,Sandbox,Sandbox,2020-03-26 13:26:30,0xa7c60ee5c707d4bd67319c17745851b42a2e4578,0xc4fcadeaf8e77c4b859473142aef83a7ac7f4704,...,0x50f5474724e0ee42d9a4e711ccfb275809fd6d4a,https://lh3.googleusercontent.com/17vU_UNWeMOV...,"('Sandbox', '100216')",2020-03,2020-03-26 13:26:30,1,0.0,1,1,1

In [106]:
df['ID_token'].value_counts()

1151860    40
853115     39
965763     38
108489     38
1043670    36
           ..
1723578     1
582377      1
1817126     1
1872615     1
1384444     1
Name: ID_token, Length: 18771, dtype: int64

In [108]:
df['sold_counts'].value_counts()

1     18357
2       604
35      210
3       168
38       76
4        60
29       58
5        50
40       40
39       39
36       36
32       32
31       31
30       30
28       28
27       27
23       23
11       22
21       21
19       19
6        18
17       17
10       10
9         9
8         8
7         7
Name: sold_counts, dtype: int64

In [109]:
df.to_csv("master_clean.csv")